.header {
	position: relative;
	margin-bottom: 100px;
	z-index: 100;

	&__content {
		display: flex;
		padding: 86px 0 0;
	}

	&__inner {
		position: relative;
	}
}

.burger-button {
	position: absolute;
	bottom: 10px;
	left: -73px;
	width: 23px;
}

@media (max-width: 1440px) {
	.burger-button {
		position: unset;
	}

	.header {
		&__inner {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			gap: 20px;
		}

		&__content {
			justify-content: flex-end;
		}
	}
}