.sidebar {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	height: 100vh;
	width: 393px;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 93px;
	transition: 0.5s;
	background-color: var(--sidebar-background);
	transform: translateX(-100%);

	&__link {
		text-decoration: none;
		font-size: 18px;
		line-height: 30px;
		color: var(--color-white-base);
		display: block;
		transition: 0.3s;
		font-weight: var(--font-weight-bold);
		margin-bottom: 25px;

		&:hover {
			color: var(--color-gray-base);
		}

		a {
			color: var(--color-white-base);
			transition: 0.3s;

			&:hover {
				color: var(--color-gray-base);
			}
		}
	}

	&--open {
		transform: translateX(0%);
	}
}

.modal-link {
	font-size: 18px;
	line-height: 30px;
	color: var(--color-white-base);
	display: block;
	transition: 0.3s;
	font-weight: var(--font-weight-bold);
	border: none;
	box-shadow: none;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		color: var(--color-gray-base);
	}
}

.contact-block {
	margin-bottom: 12px;
	
	h3 {
		color: var(--color-gray-base);
		font-size: 14px;
		line-height: 26px;
	}

	a {
		color: var(--subtitle-color);
		font-size: 24px;
		line-height: 45px;
	}
}

@media (max-width: 1440px) {
	.sidebar {
		width: 290px;

		&__link {
			font-size: 16px;
		}
	}

	.contact-block {
		a {
			font-size: 20px;
		}
	}
}