*,
*::before,
*::after  {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-text-size-adjust: 100%;
}

html {
	--sidebar-width: 393px;
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-bold);
	font-family: 'Geometria', sans-serif;
	scroll-behavior: smooth;                       
}

body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	background-color: var(--color-black-base);
	overflow-x: hidden;
}

main, header, footer {
	position: relative;
	left: 0;
	transition: left 0.5s ease;
	will-change: left;
}

main.shifted,
header.shifted,
footer.shifted {
	left: 116px;
	transition: left 0.5s ease;
}

.modal-open {
	overflow: hidden;
}

.indent-title {
	position: relative;
	border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}