*,
*::before,
*::after  {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-text-size-adjust: 100%;
}

html {
	--sidebar-width: 393px;
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-bold);
	font-family: 'Geometria', sans-serif;
	scroll-behavior: smooth;                           
}

body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	background-color: var(--color-black-base);
	overflow-x: hidden;
}

section, header, footer {
	transition: transform 0.5s ease;
}

section.shifted,
header.shifted,
footer.shifted {
	transform: translateX(112px);
	transition: transform 0.5s ease;
}

.modal-open {
	overflow: hidden;
}