@mixin font-face($fontFamily, $fileName, $fontWeight, $fontStyle: normal) {
	@font-face {
	  font-family: $fontFamily;
	  src: url('@/assets/fonts/#{$fileName}.woff2') format('woff2'),
	  url('@/assets/fonts/#{$fileName}.woff') format('woff');
	  font-weight: $fontWeight;
	  font-style: $fontStyle;
	  font-display: swap;
	}
  }
  
  @include font-face('Geometria', 'Geometria-ExtraBold', var(--font-weight-extra-bold));
  @include font-face('Geometria', 'Geometria-Bold', var(--font-weight-bold));