:root {
	--primary-color: #c0965c;
	--color-white-base: #fff;
	--color-black-base: #0e0e0e;
	--color-gray-base: #6c6c6c;
	--subtitle-color: #bbb;

	--line-height-text: 20px;
	--font-size-body: 14px;
	--font-weight-bold: 500;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
}